<nav>
  <ul>
    <li><a routerLink="/introduccion" routerLinkActive="active">Introducción</a></li>
    <li><a routerLink="/instalacion" routerLinkActive="active">Instalacion</a></li>
    <li><a routerLink="/primerproyecto" routerLinkActive="active">Primer Proyecto</a></li>
    <li><a routerLink="/estructura" routerLinkActive="active">Estructura del proyecto</a></li>
    <li><a routerLink="/componentes" routerLinkActive="active">Componentes (I)</a></li>
    <li><a routerLink="/componentes2" routerLinkActive="active">Componentes (II)</a></li>
    <li><a routerLink="/publicacion" routerLinkActive="active">Publicación</a></li>
  </ul>
</nav>



